.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.uber-count {
  margin: 0;
  font-style: italic;
}
.ubernodes > div {
  display: block;
  width: 100%;
  vertical-align: top;
}

.node {
  height: auto;
  border: 1px solid navajowhite;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 15px;
  background-color: navy;
  color: white;
}

.node h4 {
  margin: 0 5px;
}

.node p {
  overflow: hidden;
  margin-bottom: 0;
}

p.uber-date {
  font-size: 80%;
  font-style: italic;
  margin: 0;
  padding: 2px;
}

.uber-image {
  float: left;
  margin: 0 15px 15px;
}

.shorty {
  height: 40px;
}

/* .shorty:before {
  content: "";
  display: block;
  height: 20px;
  background-color: yellow;
} */

@media only screen and (min-width: 1024px) {
  .ubernodes > div {
    width: 50%;
    display: inline-block;
  }

  .node {
    height: 100px;
  }
}